body {
    background-color: aqua;
}

h1 {
    text-align: center;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 600;
    color: white;   
}

h2 {
    text-align: center;
    background-color: rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(0, 0, 0);   
}
#h1 {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: 800;
    color: rgb(0, 0, 0); 
}

#h2 {
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.bloco1 {
    background-color: rgb(255, 0, 0);
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco2 {
    background-color: green;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco3 {
    background-color: blue;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco1bl {
    background-color: rgb(255, 0, 0);
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco2bl {
    background-color: green;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco3bl {
    background-color: blue;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco1sem-altura {
    background-color: rgb(255, 0, 0);
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco2sem-altura {
    background-color: green;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco3sem-altura {
    background-color: blue;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.conteiner-r {
    background-color: black;
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;

}

.conteiner-rr {
    background-color: rgb(73, 73, 73);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/

    display: flex;
    flex-direction: row-reverse; 
}

.conteiner-c {
    background-color: rgb(83, 83, 83);
    padding: 16px;
    height: 500px;
    

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: column;

}

.conteiner-cr {
    background-color: rgb(92, 92, 92);
    padding: 16px;
    height: 500px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: column-reverse;


}

.conteiner-rjc {
    background-color: rgb(104, 104, 104);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.conteiner-rjfs {
    background-color: rgb(114, 114, 114);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.conteiner-rjfe {
    background-color: rgb(124, 124, 124);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.conteiner-rsb {
    background-color: rgb(134, 134, 134);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.conteiner-rse {
    background-color: rgb(143, 143, 143);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.conteiner-rsa {
    background-color: rgb(153, 153, 153);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.conteiner-rai {
    background-color: rgb(163, 163, 163);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.conteiner-rais {
    background-color: rgb(173, 173, 173);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

.conteiner-raie {
    background-color: rgb(183, 183, 183);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}

.conteiner-raist {
    background-color: rgb(193, 193, 193);
    padding: 16px;
    height: 250px;

    /* estica os itens no eixo primario*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}

.conteiner-rbl {
    background-color: rgb(203, 203, 203);
    padding: 16px;
    height: 250px;

    /* display:flex serve para identificar que esta tag vai ser um conteiner de flex box*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*alinha o conteiner com a base do texto */
    align-items: baseline;

}

/* flex serve para identificar que esta */



